<div class="container py-5 main-content-h-fix flex-center">
  <!-- TODO: fix login card position. It looks like it is near to the bottom -->
  <mat-card class="w-400 p-5">
    <mat-card-content>
      <mat-card-header>
        <!-- roles[role] ===> to describe login type -->
        <mat-card-title>Login <span class="text-capitalize">{{roles[role]}}</span></mat-card-title>
      </mat-card-header>
      <form class="w-100">
        <mat-form-field class="w-75" [appearance]="formFieldAppearance">
          <mat-label>email</mat-label>
          <input matInput type="email" placeholder="email" [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="w-75" [appearance]="formFieldAppearance">
          <mat-label>password</mat-label>
          <input matInput type="password" placeholder="mot de passe" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  *ngIf="role == roleList[1]" [appearance]="formFieldAppearance" class="w-75">
          <mat-label>Vous êtes:</mat-label>
          <mat-select (selectionChange)="partenaireRoleSelectionChanged($event)">
            <mat-option value="teacher">Enseignant</mat-option>
            <mat-option value="partner">Parteniare Socio-Professionel</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="login()">submit</button>
    </mat-card-actions>
  </mat-card>
</div>