<div class="container main-content-h-fix flex-center">
  <mat-card class="w-400 p-5">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Login <span class="text-capitalize">{{roleList[role]}}</span></mat-card-title>
      </mat-card-header>
      <form class="w-75">
        <mat-form-field class="w-75">
          <input matInput placeholder="email"  [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="w-75">
          <input matInput placeholder="mot de passe" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field *ngIf="role == roleList[1]" class="w-75">
          <mat-label>Vous êtes:</mat-label>
          <mat-select (selectionChange)="partenaireRoleSelectionChanged($event)">
            <mat-option value="enseignant">Enseignant</mat-option>
            <mat-option value="partenaire">Parteniare Socio-Professionel</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="login()">submit</button>
    </mat-card-actions>
  </mat-card>
</div>