<div class="py-5 main-content-h-fix flex-center">
  <!-- TODO: fix login card position. It looks like it is near to the bottom -->
  <mat-card class="training-create-card pt-5">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Créer une formation</mat-card-title>
      </mat-card-header>
      <mat-horizontal-stepper [linear]="isLinear" #stepperTrainingCreate>
        <mat-step [stepControl]="formGroupGeneral">
          <ng-template matStepLabel>Données Générales</ng-template>
          <app-training-create-general
            [formGroupGeneral]="formGroupGeneral"
            [formFieldAppearance]="formFieldAppearance"></app-training-create-general>
          <div class="mt-5">
            <button (click)="testFirstStep()" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="formGroupSpecifications">
          <ng-template matStepLabel>Spécifications de la formation</ng-template>
          <app-training-create-specifications
            [formGroupSpecifications]="formGroupSpecifications"
            [formFieldAppearance]="formFieldAppearance"></app-training-create-specifications>
          <div class="mt-5">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="formGroupDescription">
          <ng-template matStepLabel>Description de la formation</ng-template>
          <app-training-create-description
            [formGroupDescription]="formGroupDescription"
            [formFieldAppearance]="formFieldAppearance"
            (imageEmitter)="updateImage($event)"
            ></app-training-create-description>
          <div class="mt-5 d-flex">
            <button mat-button matStepperPrevious>Back</button>
            <div class="spacer"></div>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <!-- <mat-card-actions class="d-flex justify-content-end">
      <button mat-raised-button color="primary">submit</button>
    </mat-card-actions> -->
  </mat-card>
</div>