<footer class="text-white bg-main">
  <mat-grid-list class="container" cols="3" rowHeight="200px">
    <mat-grid-tile>
        <div class="spacer text-center">1</div>
        <mat-divider class="h-75" [vertical]="true"></mat-divider>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="spacer text-center">2</div>
        <mat-divider class="h-75" [vertical]="true"></mat-divider>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>3</div>
    </mat-grid-tile>
  </mat-grid-list>
</footer>