<form class="w-100" [formGroup]="formGroupGeneral">
  <mat-form-field class="w-75" [appearance]="formFieldAppearance">
    <mat-label>Titre de la formation</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="w-75" [appearance]="formFieldAppearance">
    <mat-label>Instructeur</mat-label>
    <input matInput>
  </mat-form-field>
  <div class="d-flex justify-content-space-between">
    <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
      <mat-label>Date début de la formation</mat-label>
      <input matInput [matDatepicker]="datePickerTrainingStart">
      <mat-datepicker-toggle class="button-outline-icon-fix-pos" matSuffix [for]="datePickerTrainingStart">
      </mat-datepicker-toggle>
      <mat-datepicker #datePickerTrainingStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
      <mat-label>Date fin de la formation</mat-label>
      <input matInput [matDatepicker]="datePickerTrainingEnd">
      <mat-datepicker-toggle class="button-outline-icon-fix-pos" matSuffix [for]="datePickerTrainingEnd">
      </mat-datepicker-toggle>
      <mat-datepicker #datePickerTrainingEnd></mat-datepicker>
    </mat-form-field>
  </div>
</form>