<form class="w-100" [formGroup]="formGroupDescription">
  <mat-form-field class="w-100" [appearance]="formFieldAppearance">
    <mat-label>Goals</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="w-100" [appearance]="formFieldAppearance">
    <mat-label>Description Briève</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field class="w-100" [appearance]="formFieldAppearance">
    <mat-label>Description Détaillée</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>