<form class="w-100" [formGroup]="formGroupSpecifications">
  <mat-form-field class="w-75" [appearance]="formFieldAppearance">
    <mat-label class="d-block mb-2">Niveaux</mat-label>
    <mat-select formControlName="level">
      <mat-option *ngFor="let level of levels; let i = index" [value]="i">{{level}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-75" [appearance]="formFieldAppearance">
    <mat-label>Requirements</mat-label>
    <textarea matInput formControlName="requirements"></textarea>
  </mat-form-field>

  <mat-form-field class="mt-4 w-75" [appearance]="formFieldAppearance">
    <mat-label class="d-block mb-2">Sélectionner les Branches Concernées</mat-label>
    <mat-select multiple formControlName="branches">
      <mat-option *ngFor="let branch of branches | keyvalue" [value]="branch.key">{{branch.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="mt-4">
    <mat-label class="d-block mb-2">Sélectionner le Type de la Formation</mat-label>
    <mat-radio-group [value]="trainingTypeList[0]" (change)="onChangeType($event)">
      <mat-radio-button *ngFor="let type of trainingTypeList"
                          class="radio-type-selction mr-3"
                          [value]="type">{{type}}</mat-radio-button>
    </mat-radio-group>
  </div>
</form>