<mat-card [ngClass]="{'training-request': true, 'pop-out-animation': trainingRequest.hide}">
  <mat-card-header [routerLink]="['/training', 'details', trainingRequest.courseId]">
    <div mat-card-avatar
        class="header-image"
        style.backgroundImage="{{ imageBaseUrl + trainingRequest.courseImage | bgImage}}"></div>
    <mat-card-title>{{trainingRequest.courseTitle}}</mat-card-title>
    <mat-card-subtitle>{{trainingRequest.courseDescriptionShort}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>
      [{{trainingRequest.studentBranch}}-{{trainingRequest.studentStudyYear}}]
      {{trainingRequest.studentFirstName}} {{trainingRequest.studentLastName}}
    </h3>
    <p>{{trainingRequest.studentOverview}}</p>
  </mat-card-content>
  <mat-card-actions class="position-absolute">
    <button mat-flat-button
            (click)="rejectRequest()"
            class="mr-2 text-uppercase"
            color="warn">reject</button>
    <button mat-flat-button
            class="text-uppercase"
            (click)="acceptRequest()"
            color="primary">accept</button>
  </mat-card-actions>
</mat-card>