<!--The content below is only a placeholder and can be replaced.-->

<app-navbar (menuClicked)="sidenav.toggle()"></app-navbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="w-300 bg-white p-4" closed>
        <mat-list>
            <mat-list-item *ngFor="let item of sideNavItems"
                            class="cursor-pointer"
                            (click)="sidenav.close()"
                            [disableRipple]="false"
                            [routerLink]="item.path"> {{item.name}} </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>