.indicator-card {
    /* TODO: use exact values */
    width: 280px;
    height: 130px;
    --icon-w: 80px;
    box-sizing: border-box;
}

.indicator-card mat-card-title .indicator-value {font-size: 26px;}
.indicator-card mat-card-title .indicator-dueto {font-size: 12px;}

.indicator-card mat-card-title,
.indicator-card mat-card-subtitle{margin-left: calc(var(--icon-w) + 16px)}

.indicator-card-icon{
    width: var(--icon-w);
    height: var(--icon-w);
    top: calc(-0.25 * var(--icon-w));
}

.indicator-card-icon img {
    --icon-w-2: calc(0.6 * var(--icon-w));
    width: var(--icon-w-2);
    height: var(--icon-w-2);
}

.indicator-card mat-card-footer {
    left: 30px;
    right: 30px;
    bottom: 20px;
    height: 35px;
}

.indicator-card mat-card-footer span {font-size: 14px}

.bla {
    color: #F44336, #E91E63, #E91E63, #9C27B0, #673AB7, #009688, #4CAF50, #E65100, #FFC107, #FF3D00, #FBC02D, #1E88E5, #01579B, #006064

}
