<mat-card [ngClass]="{'training-item h-100 level-border': true, 'level-color-0': training.level == 0}">
    <img class="card-image"
            mat-card-image  [alt]="training.imageAlt" [src]="training.imageSrc">
    <mat-card-content>
        <mat-card-header>
            <mat-card-subtitle>{{ training.instructor }}</mat-card-subtitle>
            <mat-card-title>{{ training.title }}</mat-card-title>
        </mat-card-header>
    </mat-card-content>
    <!-- TODO: mat-card-action must contain only an action-->
    <mat-card-actions>
        <p class="text-right mr-4">{{ training.date | date: 'dd/MM/yy' }}</p>
    </mat-card-actions>
</mat-card>