.training-item {
    width: 210px;
}
.card-image {
    height: 220px;
    object-fit: cover;
}

.level-border .card-image,
.level-border .training-date { border-bottom-style: solid }

.level-border .card-image { border-bottom-width: 10px }
.level-border .training-date { border-bottom-width: 4px }

.level-color-0 .card-image,
.level-color-0 .training-date { border-bottom-color: var(--level-0) }
.level-color-1 .card-image,
.level-color-1 .training-date{ border-bottom-color: var(--level-1) }
.level-color-2 .card-image,
.level-color-2 .training-date { border-bottom-color: var(--level-2) }


.training-date {
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

.training-status {
    position: absolute;
    padding: 30px 6px 10px;
    background-color: #bcaaa4;
    left: 30px;
    top: 0;
    color: white;
    border-radius: 0 0 4px 4px;
}
