<mat-card [ngClass]="{'training-item h-100 level-border cursor-pointer': true,
                        'level-color-0': training.level == 0,
                        'level-color-1': training.level == 1,
                        'level-color-2': training.level == 2}">
    <img class="card-image d-block"
            mat-card-image 
            [alt]="training.imageAlt"
            [src]="training.imageSrc">
    <mat-card-content>
        <mat-card-header>
            <mat-card-subtitle>{{ training.instructor }}</mat-card-subtitle>
            <mat-card-title>{{ training.title }}</mat-card-title>
        </mat-card-header>
    </mat-card-content>
    <p class="training-date pb-3 pr-3 text-right text-grey position-absolute">
        {{ training.startDate | date: 'dd/MM/yy' }}
    </p>
</mat-card>