<div class="container py-5 main-content-h-fix flex-center">
  <mat-card class="w-500 p-5">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Inscription <span class="text-capitalize">{{roleList[role]}}</span></mat-card-title>
      </mat-card-header>
      <form class="w-100">
        <!---------------------------common-credentials----------------------->
        <div class="credentials-common">
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input matInput placeholder="prenom" [(ngModel)]="credentials.lastName" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <input matInput placeholder="nom" [(ngModel)]="credentials.firstName" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input matInput placeholder="cin" [(ngModel)]="credentials.cin" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <input matInput [matDatepicker]="picker" placeholder="Votre date de naissance" [(ngModel)]="credentials.birthday" [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle class="button-outline-icon-fix-pos" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input type="email" matInput placeholder="email" [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <!-- TODO: this ugly fix must be removed -->
            <div class="w-50 pl-3"></div>
          </div>
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input type="password" matInput placeholder="password" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <input type="password" matInput placeholder=" repeat password">
            </mat-form-field>
          </div>
        </div>
        <!----------------------------student credentials---------------------->
        <div *ngIf="role == roleList[0]" class="credentials-student">
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input matInput placeholder="num inscription" [(ngModel)]="credentials.numInscription" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <!-- TODO: this ugly fix must be removed -->
            <div class="w-50 pl-3"></div>
          </div>
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <mat-label>Sélectionner votre branche</mat-label>
              <mat-select (selectionChange)="branchSelected($event)">
                <mat-option *ngFor="let branch of branches | keyvalue"
                            [value]="branch.key">{{branch.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <mat-label>Sélectionner l'année d'étude</mat-label>
              <mat-select (selectionChange)="yearOfStudySelected($event)">
                <mat-option *ngFor="let year of yearOfStudy"
                              [value]="year">{{year}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <mat-label>Sélectione le chemin préféré</mat-label>
              <mat-select (selectionChange)="requestedPathSelected($event)">
                <mat-option *ngFor="let path of pathList" [value]="path">{{path}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!--TODO: This ugly fix must be changed-->
            <div class="w-50 pl-3"></div>
          </div>
        </div>
        <!-------------------------partner-credentials------------------>
        <div *ngIf="role == roleList[1]">
          <mat-form-field [appearance]="formFieldAppearance"  class="w-75">
            <mat-label>Vous êtes:</mat-label>
            <mat-select (selectionChange)="partenaireRoleSelectionChanged($event)">
              <mat-option value="teacher">Enseignant</mat-option>
              <mat-option value="partner">Parteniare Socio-Professionel</mat-option>
            </mat-select>
          </mat-form-field>
          <!-------------------------teacher-credentials---------------->
          <div *ngIf="credentials.type == 'teacher'"
                class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <mat-label>Sélectionner votre département</mat-label>
              <mat-select (selectionChange)="departmentSelected($event)" >
                <mat-option *ngFor="let branch of branches | keyvalue"
                            [value]="branch.key">{{branch.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <input matInput placeholder="specialité" [(ngModel)]="credentials.speciality" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
          </div>
          <!---------------prtenaire-socio-professionel-credentials---------------->
          <div *ngIf="credentials.type == 'partner'"
                class="d-flex justify-content-space-between">
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pr-3">
              <input matInput placeholder="entreprise" [(ngModel)]="credentials.company" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field [appearance]="formFieldAppearance" class="w-50 pl-3">
              <input matInput placeholder="specialité" [(ngModel)]="credentials.speciality" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="register()">submit</button>
    </mat-card-actions>
  </mat-card>
</div>