
<div class="d-flex h-100 w-100">
    <div class="flex-center
                w-50
                px-4
                cursor-pointer
                text-center
                text-black
                bg-main-3"
          [routerLink]="roleList[0]">
      <h1>S'inscrire en tant qu' un <br><span class="text-capitalize">{{roles[roleList[0]]}}</span></h1>
    </div>
    <div class="flex-center
                w-50
                px-4
                cursor-pointer
                text-center
                text-white
                bg-main-4"
          [routerLink]="roleList[1]">
      <h1>S'inscrire en tant qu' un <br><span class="text-capitalize">{{roles[roleList[1]]}}</span></h1>
    </div>
  </div>