
<div class="d-flex h-100 w-100">
  <div class="flex-center
              flex-grow-1
              cursor-pointer
              text-center
              text-black
              bg-main-3"
        routerLink="student">
    <h1>S'inscrire en tant qu'un etudiant</h1>
  </div>
  <div class="flex-center
              flex-grow-1
              cursor-pointer
              text-center
              text-white
              bg-main-4"
        routerLink="teacher">
    <h1>S'inscrire en tant qu' un enseignant</h1>
  </div>
</div>