<div class="main-content-h-fix">
  <div class="bg-main h-200 text-white flex-column flex-center">
    <h1 class="text-capitalize">Vos Demandes des Formations</h1>
    <h3>Gérer les demandes des formations ici</h3>
  </div>
  <div class="py-5 d-flex flex-column align-items-center">
    <div class="container">
      <h1 class="text-center text-capitalize">
        Vous avez {{trainingRequestList.length}} demandes des formations
      </h1>
        <mat-grid-list class="training-list"
                        rowHeight="450px"
                        cols="4">
          <mat-grid-tile *ngFor="let trainingRequestItem of trainingRequestList"
                          [colspan]="1"
                          [rowspan]="1">
            <app-profile-training-request-item class="cursor-pointer"
                                                [routerLink]="['/training', 'details']"
                                                [trainingRequest]="trainingRequestItem">
              </app-profile-training-request-item>
          </mat-grid-tile>
        </mat-grid-list>
    </div>
  </div>
</div>