<mat-card-content>
  <mat-card-header>
    <mat-card-title>S'inscrire Partenaire</mat-card-title>
  </mat-card-header>
  <form class="w-75">
    <mat-form-field class="w-75">
      <input matInput placeholder="email">
    </mat-form-field>
    <mat-form-field class="w-75">
      <input matInput placeholder="mot de passe">
    </mat-form-field>
    <mat-form-field class="w-75">
      <mat-label>Vous etes:</mat-label>
      <mat-select>
        <mat-option value="enseignant">Enseignant</mat-option>
        <mat-option value="partenaire">Parteniare Socio-Professionel</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card-content>