<div class="slider h-400 bg-main text-center text-white flex-center flex-column">
  <h1>Bienvenue au e4cape</h1>
  <h3>Centre de Carrière <br> et de Certification des Compétences</h3>
</div>

<div class="h-300 bg-main-2">
  <div class="container h-100 flex-center justify-content-between">
      <p class="w-50 h6">
          Améliorez votre employabilité,
          Obtenez de l'accompagnement et arrivez à toucher l'environnement socio-professionnel.
      </p>

      <mat-form-field class="w-25">
          <input matInput
                  type="text"
                  placeholder="Explorer nos formations"
                  [(ngModel)]="searchValue">
          <button mat-button matSuffix mat-icon-button aria-label="Search"
                  [routerLink]="['/training', 'search']" [queryParams]="{searchValue: searchValue}">
              <mat-icon>search</mat-icon>
          </button>
      </mat-form-field>
  </div>
</div>

<app-branch-list></app-branch-list>

<div class="h-300 features bg-grey-1">
  <div class="container h-100 flex-center">
      <mat-icon class="pr-5 pl-0 order-1">done</mat-icon>
      <p class="spacer text-justify h3 order-2"> {{text1}}</p>
  </div>
</div>

<div class="h-300 features">
  <div class="container h-100 flex-center">
      <mat-icon class="pr-0 pl-5 order-2">share</mat-icon>
      <p class="spacer text-justify h3 order-1"> {{text2}}</p>
  </div>
</div>

<div class="h-300 features bg-grey-1">
  <div class="container h-100 flex-center">
      <mat-icon class="spacer px-0 toolbar-icon order-1 text-right">subdirectory_arrow_right</mat-icon>
      <p class="spacer h2 order-2 cursor-pointer"
          routerLink="/sign-up">Inscrivez  vous pour bénificier des formations et de cretifications!</p>
  </div>
</div>